<h1>HerbOpedia</h1> 
<h3><em>Encyclopedia of Herbs</em></h3>

<br>
<p>Welcome to HerbOpedia. This is a new site for visitors to view listed views and for signed in users to contribute.  We appreciate your help in updating this site and welcome any updates and comments. </p>



<div class="img-responsive">
    <h3>Showcased Herbs</h3>
    
        <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/lavender.jpg" target="_blank">
                <img src="/assets/lavender.jpg" alt="Lavender" style="width:100%">
                <div class="caption">
                    <p><br>Lavender - is a genus of 47 known species of flowering plants in the mint family. It is native to the Old World and is found from Europe across to northern and eastern Africa, to Asia.</p>
                </div>
                </a>
            </div>
            </div>
        

            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/lovage.jpg" target="_blank">
                <img src="/assets/lovage.jpg" alt="Lovage" style="width:100%">
                <div class="caption">
                    <p><br>Lovage - is a herb that is cultivated as a sweet herb, and for use in herbal medicine of its root, and to a less degree, its leaves and seeds.</p>
                </div>
                </a>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/foxglove.jpg" target="_blank">
                <img src="/assets/foxglove.jpg" alt="Foxglove" style="width:100%">
                <div class="caption">
                    <p>Foxglove - its scientific name means "finger-like" and refers to the ease with which a flower can be fitted over a fingertip. The best-known species is the common foxglove. </p>
                </div>
                </a>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/rosemary.jpg" target="_blank">
                <img src="/assets/rosemary.jpg" alt="Rosemary" style="width:100%">
                <div class="caption">
                    <p>Rosemary - is a woody, perennial herb with fragrant, evergreen, needle-like leaves and white, pink, purple, or blue flowers. It is a member of the mint family. </p>
                </div>
                </a>
            </div>
            </div>

            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/cinquefoil.jpg" target="_blank">
                <img src="/assets/cinquefoil.jpg" alt="Cinquefoil" style="width:100%">
                <div class="caption">
                    <p>Cinquefoil - scientific name Potentilla, are generally only found throughout the northern continents of the world (holarctic).</p>
                </div>
                </a>
            </div>
            </div>

           
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/sage.jpg" target="_blank">
                <img src="/assets/sage.jpg" alt="Sage" style="width:100%">
                <div class="caption">
                    <p>Sage - is a perennial with woody stems, grayish leaves, and blue to purplish flowers. It has a long history of medicinal and culinary uses.</p>
                </div>
                </a>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/feverfew.jpg" target="_blank">
                <img src="/assets/feverfew.jpg" alt="Feverfew" style="width:100%">
                <div class="caption">
                    <p><br>Feverfew - its a flowering plant in the daisy family. It is a traditional medicinal herb which is commonly used to prevent migraine headaches.</p>
                </div>
                </a>
            </div>
            </div>

         
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/poppy.jpg" target="_blank">
                <img src="/assets/poppy.jpg" alt="Poppy" style="width:100%">
                <div class="caption">
                    <p>Poppy - one species is the source of the crude drug opium which contains powerful medicinal alkaloids and has been used as an analgesic and narcotic medicinal and recreational drug.</p>
                </div>
                </a>
            </div>
            </div>

            
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/golden-rod.jpg" target="_blank">
                <img src="/assets/golden-rod.jpg" alt="Golden Rod" style="width:100%">
                <div class="caption">
                    <p>Golden Rod - species of flowering plants in the aster family. Most are herbaceous perennial found in open areas such as meadows and savannas.</p>
                </div>
                </a>
            </div>
            </div>
        </div>

    </div>

