<h1>HerbOpedia</h1>


<div class="home_page_container">
    <div class="background">
        <img id="landing_bg" src="#" alt="">
        <div class="bg_img"></div>
        <div class="container">
            <h3 class="pitch">
                <span>Encyclopedia of Herbs</span>
                </br>
            </h3>
        </div>

<div class="img-responsive">
    <h2>Showcased Herbs</h2>
    
        <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/lavender.jpg" target="_blank">
                <img src="/assets/lavender.jpg" alt="Lavender" style="width:110%">
                <div class="caption">
                    <p>Lavender</p>
                </div>
                </a>
            </div>
            </div>

            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/lovage.jpg" target="_blank">
                <img src="/assets/lovage.jpg" alt="Lovage" style="width:100%">
                <div class="caption">
                    <p>Lovage</p>
                </div>
                </a>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/foxglove.jpg" target="_blank">
                <img src="/assets/foxglove.jpg" alt="Foxglove" style="width:100%">
                <div class="caption">
                    <p>Foxglove</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/rosemary.jpg" target="_blank">
                <img src="/assets/rosemary.jpg" alt="Rosemary" style="width:100%">
                <div class="caption">
                    <p>Rosemary</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/cinquefoil.jpg" target="_blank">
                <img src="/assets/cinquefoil.jpg" alt="Cinquefoil" style="width:100%">
                <div class="caption">
                    <p>Cinquefoil</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/sage.jpg" target="_blank">
                <img src="/assets/sage.jpg" alt="Sage" style="width:100%">
                <div class="caption">
                    <p>Sage</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/feverfew.jpg" target="_blank">
                <img src="/assets/feverfew.jpg" alt="Feverfew" style="width:100%">
                <div class="caption">
                    <p>Feverfew</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/poppy.jpg" target="_blank">
                <img src="/assets/poppy.jpg" alt="Poppy" style="width:100%">
                <div class="caption">
                    <p>Poppy</p>
                </div>
                </a>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <div class="thumbnail">
                <a href="/assets/golden-rod.jpg" target="_blank">
                <img src="/assets/golden-rod.jpg" alt="Golden Rod" style="width:100%">
                <div class="caption">
                    <p>Golden Rod</p>
                </div>
                </a>
            </div>
            </div>

        </div>
    </div>
</div>  
</div>
