// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event_table {
    border-collapse: collapse;
    width: 70%;
  }

  .event_table td, .event_table th {
    border: 1px solid black;
    padding: 8px;
}

.event_table tr:hover {background-color: #ddd;}

.event_table th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(184, 223, 185);
    color: black;
}